<!doctype html>

<html ng-app="market" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="../js/index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">

    <nav class="navbar navbar-expand-lg n navbar-dark bg-primary">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../products/product.html">Список продуктов<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="btn btn-outline-dark btn-sm"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>
                </li>

                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-dark btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>

        <div class="form-inline mx-2">
            <form action="../cart/cart.html">
                <button type="submit" class="btn btn-outline-dark">Cart</button>
            </form>
        </div>

        <form ng-click="findProductById(id)" action="product-form-result-find-id.html" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" ng-model="id" type="text" placeholder="Id" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>

    </nav>

    <div class="form-group mx-5 mt-3">
        <form class="form-inline" ng-submit="filterTable()">

            <div class="form-group mx-1">
                <input type="text" class="form-control" ng-model="Filter.titleFilter" placeholder="Title filter">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="Filter.priceMinFilter" placeholder="Price from">
            </div>

            <div class="form-group mx-1">
                <input type="text" class="form-control" ng-model="Filter.priceMaxFilter" placeholder="Price aup to">
            </div>
            <button type="submit"  class="btn btn-primary mx-2">OK</button>
        </form>
    </div>

    <table class="table table-bordered mt-2">
        <thead>
        <tr>
            <td>ID</td>
            <td>Product Id</td>
            <td>Title</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ListProducts">
            <td>{{p.id}}</td>
            <td>{{p.productId}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="submit" class="btn btn-primary form-inline" ng-click="addProductCart(p.id)">Add to cart
                </button>
                <button class="btn btn-danger form-inline" ng-click="deleteProduct(p.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>